# Rust
/target

# .NET
**/bin/
**/obj/

# MacOS
.DS_Store

# Ai Agents
.claude/
.cursor/
.agents/
.qwen/
.aider*
*.code-workspace

# Profiling
flamegraph.svg
perf.data
perf.data.old
profile.json.gz

# Web Development
.wrangler/
/dist

# Development
/tmp/